.Hello {
  text-align: center;
  padding: 10px 0;
  background-color: #66bd61;
  color: white;
}

.Hello h1 {
  font-size: 22px;
  font-weight: 300;
}

.Hello h2 {
  font-size: 18px;
  font-weight: 300;
}
